.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  gap: 20px;
}

.barbpic1,
.barbp2,
.barbpic3,
.barbp4 {
  grid-column-start: 2;
}

.barbp1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.barbpic2,
.barbpic4 {
  grid-column-start: 1;
}

.barbp3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.barbpic1,
.barbpic3 {
  justify-items: start;
}

.barber-p {
  place-self: center;
  margin: 5px;
}

.barbpic2,
.barbpic4 {
  justify-self: end;
}

.barber-header,
h3 {
  display: flex;
  justify-content: center;
  color: white;
}

.profile-pic {
  width: 25%;
}
