.mobile-pic {
  width: 40%;
}

.mail-pic {
  width: 50%;
}

.contact-container {
  margin-top: 70px;
  margin-right: 20px;
  gap: 20px;
  display: grid;
  place-items: center;
  grid-template-columns:  auto;
  grid-template-rows: auto;
}

.contact-info {
    grid-column-start: 4;
}

.opening-hours {
  grid-row-start: 2;
  grid-column-start: 2;
}

.button-container {
    grid-column-start: 4;
    justify-content: center;
}
.phone-details-container {
    display: grid;
    grid-template-columns: 2;
}

.mobile-number {
    grid-column-start: 2;
}

.email-details-container {
    display: grid;
    grid-template-columns: 2;
}

.email-address {
    grid-column-start: 2;
}

.small-address {
    display: flex;
    justify-content: center;
}

.book-button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
}

.opening-time-container {
  margin: 5px;
  border: 1px;
  border-style: solid;
  border-color: white;
}

.weekday-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

a:link {
    text-decoration: none;
    color: white;
}