/* header styles */

.header-container {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: white;
    height: fit-content ;
    
  }

  .header-logo {
    margin: 5px;
    width: 50%;
  }
  
  .header-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-right: 10px;
  }

  .nav-container {
    display: flex;
  }
  
  .nav-item {
    color: inherit;
    text-decoration: inherit;
    font-family: "Dancing Script", cursive;
    font-size: large;
  }