/* hero img */
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
  }
  
  /* barber-cards */
  
  .barber-cards {
    display: flex;
    margin-top: 5px;
    gap: 5px;
    justify-content: center;
  }
  
  .card-image {
    width: 25%;
    height: 25%;
    border-radius: 10px;
  }
  
  .card-image-tools {
    width: 10%;
  }
  
.home-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}