@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=PT+Serif:ital@1&display=swap');

body {
  background-color: black;
}

p {
  color: aliceblue;
}

li {
  list-style: none;
}

