
body {
    background-color:bisque;
}



/* hero img */
.hero-img {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* header styles */

.header-container {
    display: flex;
    gap: 50px;
    color: white;
    background-color: darkslategray;
    
}

.header-menu {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 100px;
    list-style: none;
}

/* barber-cards */

.barber-cards {
    display: flex;
    gap: 3px;
    justify-content: center;
    
}

.card-image {
    width: 25%;
    height: 25%;
}

.card-image-tools {
    width: 10%;
    
}