
body {
  background-color: black;
}

/* hero img */
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

/* header styles */

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  color: white;
  background-color: darkslategray;
}

.header-menu {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

/* barber-cards */

.barber-cards {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card-image {
  width: 25%;
  height: 25%;
}

.card-image-tools {
  width: 10%;
}
